@import "tailwindcss";

@theme {
    --color-primary:#000000;
    --color-secondary: #4C763B;
    --color-accent: #F1F0E9;
}

/* transparent scroll track class called hide-scroll-track */
.hide-scroll-track::-webkit-scrollbar {
    width: 8px;
}

.hide-scroll-track::-webkit-scrollbar-track {
    background: transparent;
}

.hide-scroll-track::-webkit-scrollbar-thumb {
    background-color: #4C763B;
    border-radius: 20px;
    border: 2px solid transparent;
}